# Ignore Python virtual environment
.venv/
.venv/lib/
.venv/lib/python3.12/
.venv/lib/python3.12/site-packages/
# Ignore macOS system files
.DS_Store

# Ignore compiled files
*.class
*.pyc

# Ignore logs and temporary files
*.log
tmp/
